* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("/images/backgroundimage.png");
}

.textArea {
  display: flex;
  margin: 2rem 10rem;
}

.input {
  background-color: #383838;
  border: 1ex solid none;
  margin: 1rem 0px 1px 3rem;
  max-width: 850px;
  padding: 0;
  color: #383838;
  word-wrap: break-word;
  height: 30vh;
  font-size: 17px;
  transition: all 1s;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: rgba(230, 232, 232, 0.775);
}

.input:hover {
  border-top-width: 0.2em;
  background-color: #dadbdadb;
  color: #262626;
}

.input:focus {
  border-top-width: 0.2em;
  background-color: #dadbdadb;
  color: #262626;
}

h1 {
  color: rgb(205, 202, 202);
  margin: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

footer {
  color: navajowhite;
  position: absolute;
  right: 20px;
  top: 5px;
}

/*============================ buttons styling ===========================*/
.inputspeed {
  border-radius: 5px;
  height: 1.4rem;
  width: 2.8rem;
}


.buttonsStyle {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: #6b7280 ;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: 1px solid white;
  width:  7rem;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem;
  padding: 1rem;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.buttonsStyle:hover {
  box-shadow: var(--hover-shadows);
  cursor: pointer;
}

.buttonsStyle:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 20px 3px;
  background-color: var(--accent);
  transform: scale(0.95);
}

/*============================ input text styling ===========================*/
#text {
  font-size: 22px;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.437);
  border-radius: 10px;
  box-shadow: 0px 0px 11px rgb(116 115 117 / 77%);
  width: 50vw;
  height: 60vh;
}

.Instructions h3{
    font-size: 33px;
    color: rgb(205, 202, 202);
    position: relative;
    font-weight: bold;
    top: -1.7rem;
    font-family: "Courier New", Courier, monospace;

}

.Instructions{
    font-size: 22px;
    padding: 3rem;
    border: 3px solid rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    background-color: #121212b7;
    color: rgb(224, 224, 224);
    box-shadow: 0px 0px 11px rgb(116 115 117 / 77%);
    max-width: 850px;
    width: 70vw;
    margin: 1rem;
    font-family: "Courier New", Courier, monospace;
    height: fit-content;
}

/*============================ media Queries ================================*/
@media (max-width: 923px) {
  #text {
    width: 86%;
    margin: 1rem;
    margin-right: 1rem;
  }
  .Instructions{
    margin-top: 3rem; 
  }
}


@media (max-width: 744px) {
    .label{
        margin-left: 9rem;
    }
 
}

@media (max-width: 535px) {
    .label{
        margin-left: 1.7rem;
    }
 
}



@media (max-width: 476px) {
  footer {
    display: none;
  }
}

@media (max-width: 390px) {
  .buttonsStyle {
    display: inline-block;
    margin: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
}
